doctype html
html
  head
    title Global Dance Academy
    block scripts
    block style
  body
    nav#navbar
      ul
          li #[a(href="/") Home]
          li #[a(href="/about") About]
          li #[a(href="/services") Services]
          //- li #[a(href="/") Class Info]
          li #[a(href="/contact") Contect Us]
    block content
    footer#footersection 
        | ©Copyright2021 