extends base.pug

block scripts
  script(src='/static/script.js')
block style 
    style
      include ../static/style.css
block content
    Section#introsection
        div.large  Dancers don’t
        div.small  need wings to fly
    Section#datasection
        div.hd Owr Sponsers
        #names
            #fds
                div.ap ANKUR M. PATEL 
                div.aps (Businessman And Motivational speaker) 
            #sds       
                div.ap MUKESHBHAI P. PATEL 
                div.aps (AGM Of Mehsana Urban Bank)
            #tds        
                div.ap KAMLESHBAHI I. PATEL 
                div.aps (Businessman)
            #fds        
                div.ap PARSHOTAMBHAI U. PATEL 
                div.aps (Ex. Railway Inspector)