extends base.pug

block scripts
  script(src='/static/script.js')
block style 
    style
      include ../static/style.css
      include ../static/styleAbout.css
      include ../static/styleService.css
block content
    h1 Services
    #con 
        div.one
            h3 Group Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.two
            h3 Solo Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.three
            h3 Tredisional Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.four
            h3 Group Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.five
            h3 Solo Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.six
            h3 Tredisional Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.seven
            h3 Group Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.eight
            h3 Solo Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 
        div.nine
            h3 Tredisional Dance 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque eum rem accusamus repudiandae corrupti tempore labore aliquid nesciunt consequatur hic optio consequuntur at soluta accusantium, ipsum libero doloremque? Sunt! 