@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Caveat:wght@600&family=IBM+Plex+Serif:ital,wght@1,200&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#container::before{
    content: "";
    background:url('/static/sp.jpg') no-repeat center center/cover;
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    display: flex;
    margin: -2px;  
    
    
    
    
    
    /* background:center / cover no-repeat url('/static/sp.jpg');
    opacity: 0.8; */

}
#container{
    min-height: 85vh;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    flex-direction: column;

}
h1{
    font-size: 35px;
    margin: 0px 0px;
    font-family: 'Lobster', cursive;
}
#container div{
    display: flex;
    text-align: center;
    /* justify-content: center; */
    padding: 2px 5px;
    border-radius: 5px;
    
}
.first{
    /* border: 2px solid red; */
    margin: 20px 215px;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    
}
.second{
    /* border: 2px solid red; */
    margin: 20px 215px;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    
}
.third{
    /* border: 2px solid red; */
    margin: 20px 215px;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;

}